<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110367483360-l0djt5tck3i3ffm2er0s2vnibl5nbekl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110367483360-l0djt5tck3i3ffm2er0s2vnibl5nbekl</string>
	<key>API_KEY</key>
	<string>AIzaSyA7R2hLFbidcD-aIqgjx7Bp8lYF1_2ksmk</string>
	<key>GCM_SENDER_ID</key>
	<string>110367483360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anthonyatuoha.eduGuru</string>
	<key>PROJECT_ID</key>
	<string>eduguru-a9aff</string>
	<key>STORAGE_BUCKET</key>
	<string>eduguru-a9aff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110367483360:ios:ae009751ef3c24f60a7785</string>
</dict>
</plist>